{% extends "layout.html" %}

{% block content %} 

{% include "navbar.html" %} 


<div class="hero bg-base-200">
  <div class="hero-content flex flex-col">

    <div class="flex flex-row justify-center items-center content-center">
      <div class="chat chat-start">
        <div class="chat-bubble">
          {{ gpt_prompt }}
        </div>
      </div>

      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Current Google search max page depth</div>
          <div class="stat-value">{{ page_depth }}</div>
        </div>
      </div>
    </div>

    <h2 class="text-xl">Configurations you can set</h2>
    <ul>
      <li>chatgpt-products-for-niche-start</li>
      <li>chatgpt-products-for-niche-end</li>
      <li>google-search-domain-page-depth</li>
    </ul>

    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form
        class="card-body"
        hx-post="/app/set-config"
        hx-swap="none"
        hx-confirm="Change configuration?"
      >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Key</span>
          </label>
          <input
            name="key"
            type="text"
            placeholder="config-key"
            class="input input-bordered"
            required
          />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Value</span>
          </label>
          <input
            name="value"
            type="text"
            placeholder="config value"
            class="input input-bordered"
            required
          />
        </div>

        <div class="form-control mt-6">
          <button class="btn btn-primary">Config!</button>
        </div>
      </form>
    </div>

    <h2 class="mt-8 text-xl">Number of unique domains for a niche and product</h2>

    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Niche</th>
            <th>Product</th>
            <th>Unique domains</th>
          </tr>
        </thead>
        <tbody>
          {% for ds in domain_stats %}
          <tr>
            <td>{{ ds.niche }}</td>
            <td>{{ ds.product }}</td>
            <td>{% if let Some(ud) = ds.unique_domains %} {{ ud }} {% else %} 0 {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h2 class="mt-8 text-xl">Number of founder domains for a niche, product and domain</h2>

    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Niche</th>
            <th>Product</th>
            <th>Domain</th>
            <th>Unique founders</th>
          </tr>
        </thead>
        <tbody>
          {% for fs in founder_stats %}
          <tr>
            <td>{{ fs.niche }}</td>
            <td>{{ fs.product }}</td>
            <td>{{ fs.domain }}</td>
            <td>{% if let Some(uf) = fs.unique_founders %} {{ uf }} {% else %} 0 {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h2 class="mt-8 text-xl">Number of verified emails for a niche, product and domain</h2>

    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Niche</th>
            <th>Product</th>
            <th>Domain</th>
            <th>Founder name</th>
            <th>Verified status</th>
            <th>Unique emails</th>
          </tr>
        </thead>
        <tbody>
          {% for es in email_stats %}
          <tr>
            <td>{{ es.niche }}</td>
            <td>{{ es.product }}</td>
            <td>{{ es.domain }}</td>
            <td>{% if let Some(fn) = es.founder_name %} {{ fn }} {% endif %}</td>
            <td>{{ es.verified_status }}</td>
            <td>{% if let Some(ue) = es.unique_emails %} {{ ue }} {% else %} 0 {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}
