{% extends "layout.html" %}

{% block content %} 

{% include "navbar.html" %} 


<div class="hero bg-base-200">
  <div class="hero-content">
    <!-- All niches -->
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Niche</th>
            <th>Product</th>
            <th>Domain</th>
            <th>Candidate url</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for d in domains %}
          <tr>
            <td>{{ d.niche }}</td>
            <td>{{ d.product }}</td>
            <td>
              {% if let Some(dom) = d.domain %}
                {{ dom }}
              {% endif %}
            </td>
            <td>{{ d.domain_candidate_url }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
