{% extends "layout.html" %}

{% block content %} 

{% include "navbar.html" %} 


<div class="hero bg-base-200">
  <div class="hero-content">
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Niche</th>
            <th>Product</th>
            <th>Domain</th>
            <th>Founder name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Reachability</th>
          </tr>
        </thead>
        <tbody>
          {% for e in emails %}
          <tr>
            <td>{{ e.niche }}</td>
            <td>{{ e.product }}</td>
            <td>{{ e.domain }}</td>
            <td>
              {% if let Some(fn) = e.founder_name %}
                {{ fn }}
              {% endif %}
            </td>
            <td>{{ e.email_address }}</td>
            <td>{{ e.verified_status }}</td>
            <td>{{ e.reachability }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
