<div class="navbar bg-base-100">
  <div class="flex-1">
    <a
      class="btn btn-ghost text-xl"
      hx-get="/app/dashboard"
      hx-target="body"
      hx-push-url="true"
      >Smmac</a
    >
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a hx-get="/app/product" hx-target="body" hx-push-url="true">Product</a>
      </li>
      <li>
        <a hx-get="/app/domain" hx-target="body" hx-push-url="true">Domain</a>
      </li>
      <li>
        <a hx-get="/app/founder" hx-target="body" hx-push-url="true">Founder</a>
      </li>
      <li>
        <a hx-get="/app/email" hx-target="body" hx-push-url="true">Email</a>
      </li>
      <li>
        <a hx-get="/app/login?logout=true" hx-target="body" hx-push-url="true"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
