{% extends "layout.html" %}

{% block content %} 

{% include "navbar.html" %} 


<div class="hero bg-base-200">
  <div class="hero-content">
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th></th>
            <th>Email</th>
            <th>Founder name</th>
            <th>Domain</th>
            <th>Product</th>
            <th>Niche</th>
          </tr>
        </thead>
        <tbody>
          {% for e in emails %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ e.email }}</td>
            <td>{% if let Some(fn) = e.founder_name %} {{ fn }} {% endif %}</td>
            <td>{{ e.domain }}</td>
            <td>{{ e.product }}</td>
            <td>{{ e.niche }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
